h1{
    text-align: center;
}
form{
    text-align: center;
    background-color: rgb(226, 250, 241);
}
.formulario {
   padding: 10px;
}
#categ{
    background-color: rgb(226, 250, 241);
} 

#botonguardar{
    font-size: 23px;
    background-color: aquamarine;
    border-radius: 10px;
}
.divtabla table{
    margin: 10px auto;
}
table{
    background-color: darkgreen;
}

th {
    padding: 10px;
    background-color: darkgreen;
}
td{
    padding: 5px;
    background-color: aquamarine;               
}